@model CalculateSalesPriceMVC.Models.Quotation
@{
    ViewBag.Title = "CreateQuotation";

}

<h2>Calculate Sales Price</h2>
<br />
<hr />

@using (Html.BeginForm())
            {
    <div class="table-responsive">
        <table class="table table-lg">
            <tr>
                <td>@Html.LabelFor(m => m.SalePrice)</td>
                <td>@Html.EditorFor(m => m.SalePrice)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Discount)</td>
                <td>@Html.EditorFor(m => m.Discount)%</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.DiscountAmount)</td>
                <td>@Html.DisplayFor(m => m.DiscountAmount)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.TotalPrice)</td>
                <td>@Html.DisplayFor(m => m.TotalPrice)</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Calculate Sales Price" class="btn btn-lg btn-success"/></td>
            </tr>
        </table>
    </div>
            }

@Html.ActionLink("Back to main menu","Index","Home")

